<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../styles/sample.css">
</head>

<body>
    <header class="bg-white">
        <nav class="flex justify-between items-center w-[92%] mx-auto navbar">
            <div class="flex items-center gap-40 mx-auto">
                <img class="img-div w-16 cursor-pointer" src="../assests/logo.png">
                <div
                    class="nav-links ui-items duration-500 md:static absolute bg-white md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5">
                    <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-7">

                        <li class="relative inline-block text-left">
                            <button type="button" class="inline-flex items-center justify-center"
                                id="products-dropdown-button" aria-expanded="false" aria-haspopup="true"
                                onclick="toggleProductsDropdown()">
                                Products
                                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>

                            <!-- Products Dropdown menu -->
                            <div id="products-dropdown-menu"
                                class="absolute center z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
                                role="menu" aria-orientation="vertical" aria-labelledby="products-dropdown-button"
                                tabindex="-1">
                                <div class="py-1" role="none">
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 menuitem" role="menuitem"
                                        tabindex="-1">LMS</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 menuitem" role="menuitem"
                                        tabindex="-1">CRM</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                                        tabindex="-1">HRMS</a>
                                </div>
                            </div>
                        </li>

                        <li class="relative inline-block text-left">
                            <button type="button" class="inline-flex items-center justify-center"
                                id="solutions-dropdown-button" aria-expanded="false" aria-haspopup="true"
                                onclick="toggleSolutionsDropdown()">
                                Solutions
                                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>

                            <!-- Solutions Dropdown menu -->
                            <div id="solutions-dropdown-menu"
                                class="absolute center z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
                                role="menu" aria-orientation="vertical" aria-labelledby="solutions-dropdown-button"
                                tabindex="-1">
                                <div class="py-1" role="none">
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 menuitem" role="menuitem"
                                        tabindex="-1">Educational Institutions</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                                        tabindex="-1">Finances</a>
                                </div>
                            </div>
                        </li>

                        <li class="relative inline-block text-left">
                            <button type="button" class="inline-flex items-center justify-center"
                                id="services-dropdown-button" aria-expanded="false" aria-haspopup="true"
                                onclick="toggleServicesDropdown()">
                                Services
                                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>

                            <!-- Services Dropdown menu -->
                            <div id="services-dropdown-menu"
                                class="absolute center z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden"
                                role="menu" aria-orientation="vertical" aria-labelledby="services-dropdown-button"
                                tabindex="-1">
                                <div class="py-1" role="none">
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 menuitem" role="menuitem"
                                        tabindex="-1">Sales</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700 menuitem" role="menuitem"
                                        tabindex="-1">Services</a>
                                    <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                                        tabindex="-1">Marketing</a>
                                </div>
                            </div>
                        </li>

                        <li><a href="">Resources</a></li>
                        <button>Ask for Demo</button>
                    </ul>
                </div>
            </div>
            <div class="flex items-center gap-6">
                <i onclick="onToggleMenu(this)" class="fas fa-bars text-3xl cursor-pointer md:hidden toggle-icon"></i>
            </div>
        </nav>
    </header>

    <div class="prod-div flex content-center items-center">
        <div class=".prod-info-div w-3/4 px-80 py-20 sm:px-0">
            <h1 class="text-5xl prod-head">Empower your institution’s credence with the most versatile CRM software.
            </h1>
            <p class="my-8">Reinforce the trust among your prospective audience and enhance the customer experience
                multifold with Kona’s
                CRM
                software. Take your customer support and relationship management operations to the next level.
            </p>
            <a href="">Ask For Free Demo</a>
        </div>

        <div>
            <img src="../assests/pbanner.jpg" alt="">
        </div>
    </div>
    <script src="https://kit.fontawesome.com/b927c8d3d7.js" crossorigin="anonymous"></script>
    <script src="../scripts/sample.js"></script>

</body>

</html>